/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix:before,
.clearfix:after {
     content: ".";
     display: table;
}

.clear:after {
     clear: both;
}


/* Body */
body {
	background: #fff url(../img/bg.jpg) repeat 0 0;
	color: #222;
	font: 12pt/20pt "Open Sans", Arial, sans-serif;
    padding-top: 35px;
	width: 80%;
	margin: 0 auto;
}


h1, h2, h3 {
		font-family: "Bitter", serif;
}

h1 {
	font-size: 110pt;
	text-align: center;
	padding-bottom: 40px;
	margin: 60px 0 75px 0;
}

h2 {
	font-size: 35pt;
}

h3 {
	font-size: 20pt;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

section {
	padding: 10px auto;
	border-bottom: solid 2px #ccc;
}

nav {
	height: 50px;
	width: 100%;
	background-color: white;
}

ul.nav {
	padding: 10 0;
	margin: 2 0;
}

.navbar {
}

a.navbar {
	background-color: pink;
	padding: 5px auto;
	margin: 0 auto 10px auto;
	font: 20pt bold;
	color: #cc3366;
}

a.navbar:visited {
	color: #cc3366;	
}

#recent {
	width: 100%;
}

.round {
	width: 80px;
	height: 80px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	}

h3.round {
	width: 60px;
	height: 60px;
}

.tag {
	float: left;
	display: inline;
	padding: 2px 7px 3px;
	background: #d6d6d6;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #666;
	margin-right: 5px;	
}

ul.tag {
	padding-bottom: 10px;
}

ul#recent.li {
	float: left;
	width: 33%;
	height: 320px;
	padding: 5px auto;
	margin:	5px;
	overflow: hidden;
}

footer {
	background-color: black ;
}